.card {
    max-width: 250px;
}

.card-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

::ng-deep .mat-mdc-card-header-text {
    width: 100%;
}

.delete-icon {
    right: -15px;
    top: -15px;
}