<mat-card class="card rounded-3" appearance="outlined">
    <img class="rounded-top" height="235" width="235" src="{{menuItem.image}}" alt="Photo of a biriyani">
    <mat-card-header class="w-100">
        <mat-card-title class="w-100">
            <div class="d-flex justify-content-between w-100">
                <div>
                    {{menuItem.name}}
                </div>
                <div class="text-bold">
                    {{menuItem.price | currency: 'INR'}}
                </div>
            </div>
        </mat-card-title>
        <mat-card-subtitle>{{menuItem.type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-10">
        <p matTooltip="{{menuItem.description}}" matTooltipPosition="above" >{{menuItem.description | ellipsis: 25}}</p>
    </mat-card-content>
    <mat-card-actions>
        <div class="ml-7">
            <mat-icon color="primary" >favorite</mat-icon>
        </div>
    </mat-card-actions>
</mat-card>